.post-type{
    text-align: center;
    background-color: coral;
}

#posts-screen{ 
    padding-left: 2%;
        /* background-color:#dddfd4 ; */
        background-image: url("https://integrisok.com/-/media/Blog/18-March/rehabilitation-therapy.ashx?mh=405&mw=720&useCustomFunctions=1&as=0&relativeResize=1&revision=43de4b64-2d71-4842-8a38-5b09a1d928a6&hash=DAA5868F64D96716602CDAAFB80027D200873A83");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#source-link{
    float: right;
}

@media only screen and (max-width: 800px) {
    .post-type {
      font-size: 20px;
    }
    #type-icon{
        font-size: 40px;
    }
    .card-title{
        font-size: 20px;
        text-align: center;
    }
    p ,a{
        font-size: 12px;
    }

  }

  /**********************Media Responsive Break Point 500px*******************/
  @media only screen and (max-width: 500px) {
    .card-title{
        font-size: 16px;
        text-align: center;
    }
  }