<div class="container" id="dashboard-screen">

  <div class="row">
    <div class="col-lg-4 col-md-6" style="text-align: center">
      <a routerLink="/adminApp" class="btn btn-danger btn-lg" role="button"><i class="fal fa-list-alt fa-5x"></i> <br />Aplicaciones</a>
    </div>
    <div class="col-lg-4 col-md-6" style="text-align: center">
      <a routerLink="/adminComm" class="btn btn-warning btn-lg" role="button"><i class="fas fa-comment-slash fa-5x"></i> <br />Comentarios</a>
    </div>
    <div class="col-lg-4 col-md-6" style="text-align: center">
      <a routerLink="/adminEvents" class="btn btn-primary btn-lg" role="button"><i class="far fa-calendar-alt fa-5x"></i><br/>Noticias/Eventos</a>
    </div>
    <!-- <div class="col-lg-3 col-md-6" style="text-align: center">
      <a href="#" class="btn btn-info btn-lg" role="button"><i class="fas fa-users-cog fa-5x"></i> <br />Usuarios</a>
    </div> -->
  </div>
</div>