.navbar{
    background-color: #42a5f4;
}

li:hover{ 
    background-color:  rgba(176, 190, 209, 0.7);
  }

  li.active{
    background-color:  rgba(176, 190, 209, 0.7);
    border-radius: 5%;
    font-weight: bold;
  }

  .img-brand{
      width: 200px;
  }

  .nav-link{
      color:black;
      font-family: sans-serif;
  }
  
