.navbar{
    background-color: #42a5f4;
    padding-top: 2px;
    padding-bottom: 1px;
}

li:hover{ 
    background-color:  rgba(176, 190, 209, 0.7);
  }

  li.active{
    background-color:  rgba(176, 190, 209, 0.7);
    border-radius: 5%;
    font-weight: bold;
  }

  .img-brand{
      width: 270px;
      max-height: 100px;
  }

  #small-brand{
    display: none;
  }

  .nav-link{
      color:black;
      font-family: sans-serif;
  }
  
  @media only screen and (max-width: 800px) {
    #big-brand{
        display: none;
    }

    #small-brand{
        display: inherit;
        width: 60px;
        height: 50px;
    }

    #download-card{
        margin: 0;
    }
  }