<div class="row bootstrap snippets">
  <div class="col-md-6 col-md-offset-2 col-sm-12">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div class="panel-heading">
          Panel de Comentarios
        </div>
        <div class="panel-body">
          <textarea class="form-control" placeholder="Escribe un comentario" rows="3"></textarea>
          <br>
          <button type="button" class="btn btn-info pull-right">Enviar</button>
          <div class="clearfix"></div>
          <hr>
          <ul class="media-list">
            <li *ngFor="let comment of comments" class="media">
              <a href="#" class="pull-left">
                <img src="{{comment.imgPath}}" alt="" class="img-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">{{comment.date | date: 'medium'}}</small>
                </span>
                <strong class="text-success"> {{comment.userName}}</strong>
                <p>{{comment.body}}</p>
              </div>
              <ul class="media-list" id="reply-list">
                <li *ngFor="let reply of comment.response" class="media">
                  <a href="#" class="pull-left">
                    <img src="{{reply.imgPath}}" alt="" class="img-circle">
                  </a>
                  <div class="media-body">
                    <span class="text-muted pull-right">
                      <small class="text-muted">{{reply.date | date: 'medium'}}</small>
                    </span>
                    <strong class="text-success"> {{reply.userName}}</strong>
                    <p>{{reply.body}}</p>
                  </div>
                  </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>