<div class="row bootstrap snippets">
  <div class="col-md-12 col-md-offset-2 col-sm-12">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div id="logged-panel" *ngIf="dataTarget===''">
        <div class="panel-body">
          <!-- nuevo -->
          <form action="">
          <!-- <textarea class="form-control" [(ngModel)]="newbody" placeholder="Escribe un comentario" rows="3"></textarea> -->
          <input *ngIf="authService.loggedIn()" type="text" [(ngModel)]="body" name="body">
          <p>{{body}}</p>
          <br>
          <button *ngIf="authService.loggedIn()" type="button" class="btn btn-info pull-right" (click)="addComment()">Enviar</button>
          <button *ngIf="!authService.loggedIn()" type="button" class="btn btn-info pull-right">Hacer un Comentario</button>
          <!-- <p>{{user._id}}</p> -->
          
          <div class="clearfix"></div>
        </form>
          <hr>
          <ul class="media-list">
            <li *ngFor="let comment of comments" class="media">
              <a href="#" class="pull-left">
                <img src="{{comment.imgPath}}" alt="" class="img-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">{{comment.date | date: 'medium'}}</small>
                </span>
                <strong class="text-success"> {{comment.userName}}</strong>
                <p>{{comment.body}}</p>
              </div>
              <ul class="media-list" id="reply-list">
                <li *ngFor="let reply of comment.response" class="media">
                  <a href="#" class="pull-left">
                    <img src="{{reply.imgPath}}" alt="" class="img-circle">
                  </a>
                  <div class="media-body">
                    <span class="text-muted pull-right">
                      <small class="text-muted">{{reply.date | date: 'medium'}}</small>
                    </span>
                    <strong class="text-success"> {{reply.userName}}</strong>
                    <p>{{reply.body}}</p>
                  </div>
                  </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="dataTarget==='profile'" class="row container">
          <div class="card mb-3 col-md-12" *ngFor="let comment of comments">
              <div class="row no-gutters">            
                  <div class="card-body">
                    <h5 class="card-title">{{comment.date}}</h5>
                    <p class="card-text"><small class="text-muted">{{comment.body}}</small></p>
                  </div>
              </div>
            </div>
      </div>
      </div>
    </div>

  </div>
</div>