#panel-category{
    padding-top: 5%;
}

li:hover{
    background-color: lightseagreen;
}

li:hover i{
    color: black;
}

.navbar{
    background-color: rgba(44, 48, 44, 0.7);
}

.fas{
    color: white;
}

.nav-item.active{
    background-color: #4ABDAC;  
}

