<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button class="navbar-toggler" style="width:100%" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo04"
      aria-controls="navbarTogglerDemo04" aria-expanded="false" aria-label="Toggle navigation">
      <span>CATEGORIAS</span>
    </button>
    <div class="collapse navbar-collapse justify-content-center order-2 " id="navbarTogglerDemo04">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/cat/profesionales"><i class="fas fa-user-md fa-2x"></i>{{'categoria.profesionales'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/cat/autocuidado"><i class="fas fa-child fa-2x"></i>{{'categoria.autocuidado' | translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/cat/computador"><i class="fas fa-laptop fa-2x"></i>{{'categoria.rampa'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/cat/alternativa"><i class="fas fa-volume-up fa-2x"></i>{{'categoria.alternativa'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse"
          data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/cat/concientiza"><i class="fas fa-handshake fa-2x"></i>{{'categoria.entretenimiento'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse"
          data-target=".navbar-collapse.show">       
          <a class="nav-link" routerLink="/cat/movilidad"> <i class="fas fa-wheelchair fa-2x"></i>{{'categoria.movilidad'|translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>