.myframegmap{
    border: 3px solid #f6f5f0;
    border-radius: 8px;
    height: 130px;
    width: 80%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

 #social li{
    display: block;
    float: inherit;
} 

.social-circle a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:25px;
    justify-content: space-between;

}
.social-circle a:hover{
    color: orange;
}

.help-font{
    font-size: 14px;
}

.modal-body{
    height: 250px;
    overflow-y: auto;
}

#modal-img{
    /* max-width: 300px;
    height: auto; */
    margin-left: 2%;
}
/************Responsive Media 800px break Point*************/
@media only screen and (max-width: 800px) {
    #follow-title {
        display: none;
    }
    #social li {
      display: inline-block;
      margin-left: auto;
  margin-right: auto;
    }

    .logo-inclutic{
        display: block;
  margin-left: auto;
  margin-right: auto;
    }

    .inclutic-description{
        font-size: 12px;
    }

  }