<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.js"></script>
<div class="container" id="aplication_screen">
  <div class="">
    <div *ngIf="aplication" class="card" id="app-panel">
      <!--Aplication Information Section-->
      <div class="row" id="main-info-row">
        <div class="col-lg-3 col-xs-12 img-section">
          <img id="app-main-img" class="img-fluid z-depth-1 rounded" style="width: 200px" src="{{aplication.imgPath}}" alt="imagen de aplicación">
          <app-rating dataTarget="avg" dataApp="{{aplication._id}}"></app-rating>
        </div>
        <div class="col-lg-4 col-sm-12 information">
          <h5 class="text-uppercase">{{aplication.name}}</h5>
          <p><span style="font-weight: bold;">{{'Detail.Tipo'|translate}}: </span>{{aplication.appType|translate}} </p>
          <p><span style="font-weight: bold;">{{'Detail.Plataforma'|translate}}: </span>{{aplication.opSystem}} </p>
          <p><span style="font-weight: bold;">{{'Detail.Requiere Registro'|translate}}: </span>{{aplication.register}} </p>
          <p><span style="font-weight: bold;">{{'Detail.Requiere Internet'|translate}}: </span>{{aplication.internetConnection}} </p>
          <p><span style="font-weight: bold;">{{'Detail.Versión Actual'|translate}}: </span>{{aplication.currentVersion}} </p>
          <p><span style="font-weight: bold;">{{'Detail.Categoría'|translate}}: </span>{{aplication.category|translate}}</p>
          <p><span style="font-weight: bold;">{{'Detail.Organización'|translate}}: </span>{{aplication.organization}}</p>
          <p><span style="font-weight: bold;">{{'Detail.Desarrollador'|translate}}: </span>{{aplication.developer}}</p>
        </div>
        <div class="col-lg-3 col-sm-12 information">
          <br>
          <p><span style="font-weight: bold;">{{'Detail.Fecha de Revisión'|translate}}: </span>{{aplication.uploadDate | date : "dd.MM.y"}}</p>
          <p><span style="font-weight: bold;">{{'Detail.Fecha de Actualización'|translate}}: </span>{{aplication.lastUpdate | date :
            "dd.MM.y"}}</p>
          <app-downloads dataUser="" dataTarget="app" dataApp="{{aplication._id}}"></app-downloads>
          <div *ngIf="!isforProfesionals()" class="d-flex justify-content-end"><a class="waves-effect waves-light btn btn-success btn-block" href="{{aplication.accessPath}}" target="_blank"
              (click)="registerDownload()">{{'Acceder'|translate}}</a></div>
          <div *ngIf="isforProfesionals()" class="d-flex justify-content-end"><a class="waves-effect waves-light btn btn-success btn-block" (click)="confirmPro()">{{'Acceder'|translate}}</a></div>
        </div>
      </div>
      <!--Aplication Description Section-->
      <div class="card" id="description-row">
        <div class="card-body">
          <h3 class="section-title" id="topic">{{'Detail.Descripción'|translate}}</h3>
          <p class="card-text" id="app-description">{{aplication.description}}</p>
        </div>
      </div>
      <!--Slick Carousel with variable width Section-->
      <div style="width:80%; margin: 0 auto; display: block; margin-top:2%" class="carousel-ass">
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let galery of aplication.galery" class="slide">
            <img class="img-fluid" src="{{ galery.galpath }}" alt="imagen de galería de aplicación" style="max-height:300px;">
          </div>
        </ngx-slick>
      </div>
      <!--Rating Input Section-->
      <div class="card" id="valoration-row">
        <div class="card-body">
          <h3 class="section-title" id="topic">{{'Detail.Valoración'|translate}}</h3>
          <p class="card-text">{{'Detail.¿Te gustaría a calificar tu experiencia al utilizar ésta aplicación?. Asigna un número de estrellas de acuerdo a tu satisfacción.'|translate}}</p>
          <app-rating dataTarget="rating" dataApp="{{aplication._id}}"></app-rating>
        </div>
      </div>
      <!--Aplication Comments Section-->
      <div>
        <app-comment dataApp="{{aplication._id}}" dataAppName="{{aplication.name}}" dataUser="" dataTarget="app" class="card"
          style="margin-top:2%"></app-comment>
      </div>
    </div>
  </div>
</div>