
#app-panel{
    padding: 2%;
    padding-bottom: 5px;
    margin: 5px;
  
}

#aplication_screen{
    background-color:#dddfd4 ;
    padding: 2%;
    padding-top: 1%; 
}

#screenshots-row{
    margin-top: 2%;
}

#app-main-img{
    max-width: 200px;
    height: 200px;
}
#screenshots-row{
    justify-content: center;
    margin-bottom: 2%;
}

#img-galery{
    max-width: 200px;
}

.img-section{
    margin-left: 2%;
}

.information{
    display: block;
}

.app-name{
    display: inline;
    align-content: space-between;
}

p{
    margin:0;
}

h5{
    font-size: 25px;
    font-weight: bold;
    color: green;
}

.section-title{
    color:#4169E1;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 970px) {
    #app-main-img{
        display: block;
        margin: 0 auto;
    }
    h5{
        text-align: center;
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    #topic{
        text-align: center;
    }
    #app-description{
        text-align: center;
    }
  }
@media only screen and (max-width: 500px) {
    #app-main-img{
        max-width: 100px;
    height: 100px;
    }
    h5{
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    #app-description{
        font-size:12px;
    }

  }