<div class="container" id="total_screen">
<div *ngIf="user" id="profile_screen">
  <div class="row">
  <div class="col-md-3 border">
    <img src="{{authService.getImgPath()}}" style="width: 200px" class="img-fluid mx-auto d-block">
    <a href="#" class="badge badge-primary d-block">Cambiar Imagen</a>
  </div>
  <div id="user_information" class="col-md-8 border">
    <h2 class="page.header">{{user.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item">Nombre: {{user.username}}</li>
      <li class="list-group-item">Tipo de Usuario: {{user.usertype}}</li>
      <li class="list-group-item">Organización: {{user.organization}}</li>
      <li class="list-group-item">Género: {{user.gender}}</li>
    </ul>
  </div>
</div>
<div class="row border">
  <app-downloads dataUser="{{user._id}}" dataTarget="profile" dataApp=""></app-downloads>
</div>
<div class="row border">
  <app-comment dataApp="" dataUser="{{user._id}}" dataTarget="profile" class="card"></app-comment>
</div>
</div>
</div>