img {
    max-width: 100%;
    height: auto;
}

.card{
    max-width: 170px;
}

a{
    font-size: 10px;
    
}
p{
    font-size: 10px;
    align-self: center;
    margin: 0;
}

#aplication-panel{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#aplications_screen{
    background-color:#dddfd4 ;
}

#aplication_card{
    margin-top: 6px;
    margin-bottom: 6px;
}
.checked {
    color: orange;
  }

  .card-image ,.card-info{
    padding: 5px;
}

.modal-app-description{
    font-size: 14px;
}

.card-info{
    line-height: normal;
}

.app-name{
    font-size: 14px;
}