img {
    max-width: 100%;
    height: auto;
}

.card{
    max-width: 170px;
    height: 280px;
}

a{
    font-size: 10px;
    
}
p{
    font-size: 10px;
    align-self: center;
    
}

#aplication-panel{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#aplications_screen{
    background-color:#dddfd4 ;
}

#aplication_card{
    margin-top: 6px;
    margin-bottom: 6px;
}
.checked {
    color: orange;
  }