img {
    max-width: 100%;
    height: auto;
}

.card{
    max-width: 170px;
}

a{
    font-size: 10px;

}
p{
    font-size: 10px;
    align-self: center;
    margin: 0;
}

#aplication-panel{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

#aplications_screen{
    background-color:#dddfd4 ;
    /* background-color: #eeeeee; */
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);   
    padding: 2px;
    margin-top: 1%;
}

#aplication_card{
    margin-top: 6px;
    margin-bottom: 6px;
}

.checked {
    color: orange;
  }

.card-image ,.card-info{
      padding: 5px;
}

.app-name{
    font-size: 14px;
    font-weight: bold;
    color: #092d53;
}

.modal-app-description{
    font-size: 14px;
}

.card-info{
    line-height: normal;
}

#results-list{
    max-height: 100px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
#search-title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
#filter-term{
    font-size: 12px;
    color: #092d53;
}